# Welcome to SERIES from Scarch

In [1]:
import pandas as pd

### Create a Series Object from Python list

In [2]:
ice_cream = ['Chocolate','venilla','strawberry','run raisin']

pd.Series(ice_cream)

0     Chocolate
1       venilla
2    strawberry
3    run raisin
dtype: object

In [ ]:
## datatype in object is string 
##  Each element in Order in line

In [3]:
pd.Series(ice_cream)[1]

'venilla'

In [4]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

## dtype is integer

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
registration = [True, False, True, True, False]

pd.Series(registration)

0     True
1    False
2     True
3     True
4    False
dtype: bool

## Create a Series object from a Dictionary

In [9]:
shushi = {
    'Orange':'Yellow',
    'Apple':'Green',
    'Pomgranate':'Red'
    
}

print(pd.Series(shushi))

print(pd.Series(shushi).keys)

print(pd.Series(shushi).values)

Orange        Yellow
Apple          Green
Pomgranate       Red
dtype: object
<bound method Series.keys of Orange        Yellow
Apple          Green
Pomgranate       Red
dtype: object>
['Yellow' 'Green' 'Red']

## Introduction to Methods

In [10]:
'Shree'.upper()

'SHREE'

In [11]:
'SHREE'.lower()

'shree'

In [12]:
values = [1, 2, 4]
values.append(5)
values

[1, 2, 4, 5]

In [13]:
prices = pd.Series([2, 23.6, 1.36])
prices

0     2.00
1    23.60
2     1.36
dtype: float64

In [14]:
prices.sum()

26.96

In [15]:
prices.product()

64.19200000000001

In [16]:
prices.mean()

8.986666666666666

In [18]:
prices.std()

12.659562920311798

### Introduction to Attribues

In [20]:
adjective = pd.Series(['Smart','Charming','Humble','Briliant'])

adjective

0       Smart
1    Charming
2      Humble
3    Briliant
dtype: object

In [22]:
adjective.size

## Ho many element inside the series

4

In [25]:
adjective.is_unique

## Uniques or not

True

In [26]:
adjective.values

array(['Smart', 'Charming', 'Humble', 'Briliant'], dtype=object)

In [29]:
type(adjective.values)

numpy.ndarray

In [30]:
adjective.index

RangeIndex(start=0, stop=4, step=1)

In [31]:
type(adjective.index)

pandas.core.indexes.range.RangeIndex

In [34]:
adjective.dtypes
# Data type is 'O' = means Object

dtype('O')

## Parameters and Arguments

In [35]:
# Parameter - The name we give to an expected input
# Argument - The concrete value that we provide to a parameter

# Difficulty - easy, Median, Hard
# Volume - 1 through 10
# Subtitle - True, False

In [43]:
fruits = ['Apple', 'Orange','Plum','Blueberry','Grape','watermelon']
weekdays = ['Monday', 'Tuesday','Wednesday', 'Thursday','Friday','Monday']

pd.Series(fruits, weekdays)
# It considered weekdays as Index 
pd.Series(weekdays,fruits)

pd.Series(data = fruits, index = weekdays)

# Series allows duplicate values

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday      Blueberry
Friday            Grape
Monday       watermelon
dtype: object

## Import Series with the pd.read_csv Function

In [45]:
import os
os.listdir()

['Great Learning Project.ipynb',
 '.config',
 'your_pickle',
 'Music',
 'EDA (Exploratory Data Analysis).ipynb',
 'W3 School Exercise (Array).ipynb',
 '.condarc',
 'Feature Engineering.ipynb',
 'Untitled5.ipynb',
 'w3 School Date time .ipynb',
 'Untitled1.ipynb',
 'Madikeri Trip',
 'Coursera Final Project.ipynb',
 '.DS_Store',
 '.CFUserTextEncoding',
 'Logistic Regression.ipynb',
 '.xonshrc',
 'Untitled3.ipynb',
 'Coursera Final Project - Shrishail Donaj.ipynb',
 'Untitled.ipynb',
 'test.h5',
 '.zshrc',
 'Trial basis.ipynb',
 'Untitled4.ipynb',
 'Untitled6.ipynb',
 'Pictures',
 'test.csv',
 'players_data.csv',
 'String and list.ipynb',
 'Shrishail.ipynb',
 'W3 School Excercise.ipynb',
 '.zsh_history',
 'Exploratory Data Analysis (EDA).ipynb',
 'Untitled2.ipynb',
 '.ipython',
 'Desktop',
 'Library',
 'CBBO Assesment ToolKit.numbers',
 '.matplotlib',
 'Plotly.ipynb',
 'Black Friday EDA and Feature Eng.ipynb',
 'Admission_model.pickle',
 'karnatakadataset.html',
 'new_machine_model.html',
 'def function .ipynb',
 'seaborn-data',
 'def functions.ipynb',
 'linear_reg.sav',
 'Public',
 '.tcshrc',
 'NumPy.ipynb',
 'Conditionals and loops.ipynb',
 '.anaconda',
 'Panda.ipynb',
 'Series.ipynb',
 'json_dump.csv',
 'Movies',
 'Applications',
 '100D3300',
 'my_pickle',
 'opt',
 '.Trash',
 'SQL Project.ipynb',
 'json_dumpfile.csv',
 '.ipynb_checkpoints',
 '.jupyter',
 'Python Crash course.ipynb',
 'Documents',
 'Feature Engineering - Handling Categorical Variable.ipynb',
 'test.hs',
 'Data_Visualization.ipynb',
 'Tuple, Sets dictionary.ipynb',
 'IBM Corsera.ipynb',
 'Pandas Data maniualation.ipynb',
 '.bash_profile',
 'Series operations from beginning .ipynb',
 'Downloads',
 '.continuum',
 'Def function.ipynb',
 'pandas data manipulation.ipynb',
 '.zsh_sessions',
 'Machine Learning regression.ipynb',
 '.conda',
 'working with loops .ipynb',
 'Mallu']

In [52]:
df = pd.read_csv('/Users/ravidonaj/Downloads/train.csv',usecols=['Name']).squeeze()

# Usecol - will give the given number of columns 
# Squeeze  will convert Pandas dataFrame to Series

In [53]:
df

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [55]:
type(df)

pandas.core.series.Series

## The head and tail Methods on a Series

In [56]:
df.head()

# gives first 5 rows
# we want to use exact number of rows then - 'df.head(10)'

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [57]:
df.tail()

886                       Montvila, Rev. Juozas
887                Graham, Miss. Margaret Edith
888    Johnston, Miss. Catherine Helen "Carrie"
889                       Behr, Mr. Karl Howell
890                         Dooley, Mr. Patrick
Name: Name, dtype: object

### Paasing Series to Python's Build-In Function

In [67]:
len(df)          # --> 891 rows
type(df)         # --> type of data 
dir(df)          # --> gives list of strings
sorted(df)       # --> sort the data alphabetically
type(sorted(df)) #--> list
list(df)
dict(df)
max(df)
min(df)

'Abbing, Mr. Anthony'

### The sort_values method

In [73]:
df.sort_values().head()

# sort_vales will sort the ascending order by alphabetical

845                      Abbing, Mr. Anthony
746              Abbott, Mr. Rossmore Edward
279         Abbott, Mrs. Stanton (Rosa Hunt)
308                      Abelson, Mr. Samuel
874    Abelson, Mrs. Samuel (Hannah Wizosky)
Name: Name, dtype: object

In [89]:
df.sort_values(ascending=True) ## By default it will give ascending

df.sort_values(ascending=False) # will give descending order

Sex
male                van Melkebeke, Mr. Philemon
male            van Billiard, Mr. Austin Blyler
male                  del Carlo, Mr. Sebastiano
male                  de Pelsmaeker, Mr. Alfons
male                    de Mulder, Mr. Theodore
                          ...
female    Abelson, Mrs. Samuel (Hannah Wizosky)
male                        Abelson, Mr. Samuel
female         Abbott, Mrs. Stanton (Rosa Hunt)
male                Abbott, Mr. Rossmore Edward
male                        Abbing, Mr. Anthony
Name: Name, Length: 891, dtype: object

### The sort_index Method

In [83]:
df = pd.read_csv('/Users/ravidonaj/Downloads/train.csv',usecols=['Name','Sex'],index_col='Sex').squeeze()

In [84]:
df.head()

Sex
male                                Braund, Mr. Owen Harris
female    Cumings, Mrs. John Bradley (Florence Briggs Th...
female                               Heikkinen, Miss. Laina
female         Futrelle, Mrs. Jacques Heath (Lily May Peel)
male                               Allen, Mr. William Henry
Name: Name, dtype: object

In [85]:
df.sort_index()

Sex
female    Holverson, Mrs. Alexander Oskar (Mary Aline To...
female                                Bazzani, Miss. Albina
female                            Shutes, Miss. Elizabeth W
female                               Honkanen, Miss. Eliina
female                              Newell, Miss. Madeleine
                                ...
male                              Wiklund, Mr. Jakob Alfred
male                             Beavan, Mr. William Thomas
male                                    Ringhini, Mr. Sante
male                                     Skoog, Mr. Wilhelm
male                                    Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

## Extract Series Values by Index Position

In [86]:
df.head()

Sex
male                                Braund, Mr. Owen Harris
female    Cumings, Mrs. John Bradley (Florence Briggs Th...
female                               Heikkinen, Miss. Laina
female         Futrelle, Mrs. Jacques Heath (Lily May Peel)
male                               Allen, Mr. William Henry
Name: Name, dtype: object

In [88]:
num = [1,2,3,4,5]
num[:4]

[1, 2, 3, 4]

In [91]:
df = pd.read_csv('/Users/ravidonaj/Downloads/train.csv',usecols=['Name']).squeeze()

In [92]:
df.head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [97]:
df[:10]

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [101]:
df[875:]

875                 Najib, Miss. Adele Kiamie "Jane"
876                    Gustafsson, Mr. Alfred Ossian
877                             Petroff, Mr. Nedelio
878                               Laleff, Mr. Kristo
879    Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880     Shelley, Mrs. William (Imanita Parrish Hall)
881                               Markun, Mr. Johann
882                     Dahlberg, Miss. Gerda Ulrika
883                    Banfield, Mr. Frederick James
884                           Sutehall, Mr. Henry Jr
885             Rice, Mrs. William (Margaret Norton)
886                            Montvila, Rev. Juozas
887                     Graham, Miss. Margaret Edith
888         Johnston, Miss. Catherine Helen "Carrie"
889                            Behr, Mr. Karl Howell
890                              Dooley, Mr. Patrick
Name: Name, dtype: object

In [ ]:
# single negative indexing willl not work

## Extract Series Values by Index Label

In [108]:
df.head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [109]:
df[0]

'Braund, Mr. Owen Harris'

In [111]:
df = pd.read_csv('/Users/ravidonaj/Downloads/train.csv',usecols=['Name','Sex'],index_col='Sex').squeeze()
df.head()

Sex
male                                Braund, Mr. Owen Harris
female    Cumings, Mrs. John Bradley (Florence Briggs Th...
female                               Heikkinen, Miss. Laina
female         Futrelle, Mrs. Jacques Heath (Lily May Peel)
male                               Allen, Mr. William Henry
Name: Name, dtype: object

In [115]:
df[['male']]
df[['female']]

Sex
female    Cumings, Mrs. John Bradley (Florence Briggs Th...
female                               Heikkinen, Miss. Laina
female         Futrelle, Mrs. Jacques Heath (Lily May Peel)
female    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
female                  Nasser, Mrs. Nicholas (Adele Achem)
                                ...
female         Shelley, Mrs. William (Imanita Parrish Hall)
female                         Dahlberg, Miss. Gerda Ulrika
female                 Rice, Mrs. William (Margaret Norton)
female                         Graham, Miss. Margaret Edith
female             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

In [116]:
df[['male']]

Sex
male           Braund, Mr. Owen Harris
male          Allen, Mr. William Henry
male                  Moran, Mr. James
male           McCarthy, Mr. Timothy J
male    Palsson, Master. Gosta Leonard
                     ...
male     Banfield, Mr. Frederick James
male            Sutehall, Mr. Henry Jr
male             Montvila, Rev. Juozas
male             Behr, Mr. Karl Howell
male               Dooley, Mr. Patrick
Name: Name, Length: 577, dtype: object

## The get Method on a Series

In [122]:
df.head(3)

Sex
male                                Braund, Mr. Owen Harris
female    Cumings, Mrs. John Bradley (Florence Briggs Th...
female                               Heikkinen, Miss. Laina
Name: Name, dtype: object

In [123]:
df.get(0)

'Braund, Mr. Owen Harris'

In [124]:
df.get('male')

Sex
male           Braund, Mr. Owen Harris
male          Allen, Mr. William Henry
male                  Moran, Mr. James
male           McCarthy, Mr. Timothy J
male    Palsson, Master. Gosta Leonard
                     ...
male     Banfield, Mr. Frederick James
male            Sutehall, Mr. Henry Jr
male             Montvila, Rev. Juozas
male             Behr, Mr. Karl Howell
male               Dooley, Mr. Patrick
Name: Name, Length: 577, dtype: object

In [130]:
df.get('shree','not exist')

'not exist'

In [131]:
df.get('shree',None)
# if the values does not exist in the list by default it will return None

In [134]:
df.get(1000,'not exist')

'not exist'

## Overwrite a Series values

In [135]:
df[0]

'Braund, Mr. Owen Harris'

In [136]:
df[0] = 'shrishail_donaj'

In [138]:
df.head(2)

Sex
male                                        shrishail_donaj
female    Cumings, Mrs. John Bradley (Florence Briggs Th...
Name: Name, dtype: object

In [140]:
df['male'] = 'manju_athani'

In [142]:
df.female = 'shree'

In [143]:
df.head()

Sex
male      manju_athani
female           shree
female           shree
female           shree
male      manju_athani
Name: Name, dtype: object

## The copy Method on a Series

In [149]:
df = pd.read_csv('/Users/ravidonaj/Downloads/train.csv',usecols=['Name'])
df_series = df.squeeze()

In [151]:
df.head()

                                                Name
0                            Braund, Mr. Owen Harris
1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2                             Heikkinen, Miss. Laina
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                           Allen, Mr. William Henry

In [154]:
df_series.head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [155]:
df_series[0]

'Braund, Mr. Owen Harris'

In [156]:
df_series[0] = 'whatever'

In [160]:
df_series.head()

0                                             whatever
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [159]:
df.head()

# Here we have overwrite in the series will al;so affecting the origina;l dataFrame

                                                Name
0                                           whatever
1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2                             Heikkinen, Miss. Laina
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                           Allen, Mr. William Henry

In [161]:
df = pd.read_csv('/Users/ravidonaj/Downloads/train.csv',usecols=['Name'])
df_series = df.squeeze().copy()

In [166]:
df_series[0] = 'shree'

In [167]:
df_series.head()
# Chnages in the series but not in the Original dataFrame

0                                                shree
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [179]:
df.head()

                                                Name      0
0                            Braund, Mr. Owen Harris  shree
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  shree
2                             Heikkinen, Miss. Laina  shree
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  shree
4                           Allen, Mr. William Henry  shree

## Math Methods on Series Objects

In [184]:
df = pd.read_csv('/Users/ravidonaj/Downloads/train.csv',usecols=['Fare']).squeeze()

In [185]:
df.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [195]:
df.sum()
df.count()
df.mean()
df.product()
df.std()
df.min()
df.max()
df.median()
df.mode()

0    8.05
Name: Fare, dtype: float64

In [198]:
df.describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

## Broadcasting

In [199]:
df.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [200]:
df+10
# add 10 to every element in the series

0      17.2500
1      81.2833
2      17.9250
3      63.1000
4      18.0500
        ...
886    23.0000
887    40.0000
888    33.4500
889    40.0000
890    17.7500
Name: Fare, Length: 891, dtype: float64

In [201]:
df-7

0       0.2500
1      64.2833
2       0.9250
3      46.1000
4       1.0500
        ...
886     6.0000
887    23.0000
888    16.4500
889    23.0000
890     0.7500
Name: Fare, Length: 891, dtype: float64

In [204]:
df*2

0       14.5000
1      142.5666
2       15.8500
3      106.2000
4       16.1000
         ...
886     26.0000
887     60.0000
888     46.9000
889     60.0000
890     15.5000
Name: Fare, Length: 891, dtype: float64

In [207]:
df.add(11)

0      18.2500
1      82.2833
2      18.9250
3      64.1000
4      19.0500
        ...
886    24.0000
887    41.0000
888    34.4500
889    41.0000
890    18.7500
Name: Fare, Length: 891, dtype: float64

## The value_count Method

In [211]:
df.value_counts().head(10)

# number of times a values is occured

8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
10.5000    24
7.9250     18
7.7750     16
7.2292     15
0.0000     15
Name: Fare, dtype: int64

In [214]:
df.value_counts(ascending=True)*2

10.5167     2
22.0250     2
15.0500     2
59.4000     2
28.7125     2
           ..
26.0000    62
7.7500     68
7.8958     76
13.0000    84
8.0500     86
Name: Fare, Length: 248, dtype: int64

## The apply Method

It takes a function as an input and applies this function to an entire DataFrame.

In [234]:
df = pd.read_csv('/Users/ravidonaj/Downloads/train.csv',usecols=['Name','Age'],index_col='Age').squeeze()
df.head()

Age
22.0                              Braund, Mr. Owen Harris
38.0    Cumings, Mrs. John Bradley (Florence Briggs Th...
26.0                               Heikkinen, Miss. Laina
35.0         Futrelle, Mrs. Jacques Heath (Lily May Peel)
35.0                             Allen, Mr. William Henry
Name: Name, dtype: object

In [235]:
len('Braund, Mr. Owen Harri')

22

## The map Method

map() when passed a dictionary/Series will map elements based on the keys in that dictionary/Series. Missing values will be recorded as NaN in the output.