# Hello Welcome to Date Time Module

In [5]:
import pandas as pd
import datetime as dt

## Review pf Python's datetime Module

datetime in Python is the combination between dates and times. The attributes of this class are similar to both date and separate classes. These attributes include day, month, year, minute, second, microsecond, hour, and tzinfo.

In [7]:
someday = dt.date(2016,2,25)

In [8]:
someday.year

2016

In [9]:
someday.month

2

In [10]:
someday.day

25

In [11]:
dt.datetime(2016,2,25)

# It will take Hour,Minute, and seconds along with date component

datetime.datetime(2016, 2, 25, 0, 0)

In [12]:
dt.datetime(2016,2,25,6,58,26)

datetime.datetime(2016, 2, 25, 6, 58, 26)

In [13]:
sometime = dt.datetime(2016,2,25,6,58,26)

In [19]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

26

## The pandas Timestamp Object

Timestamp is the date and time of occurrence of an event. In Python we can get the timestamp of an event to an accuracy of milliseconds.

In [20]:
pd.Timestamp('2015-02-20')

Timestamp('2015-02-20 00:00:00')

In [22]:
pd.Timestamp('2015/01/20')

Timestamp('2015-01-20 00:00:00')

In [23]:
pd.Timestamp('2015.02.21')

Timestamp('2015-02-21 00:00:00')

In [24]:
pd.Timestamp('01-02-2022')

Timestamp('2022-01-02 00:00:00')

In [25]:
pd.Timestamp('19/12/2012')

/Users/ravidonaj/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3106: UserWarning: Parsing '19/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Timestamp('2012-12-19 00:00:00')

In [26]:
pd.Timestamp('4/3/2012')

Timestamp('2012-04-03 00:00:00')

In [27]:
pd.Timestamp('19/12/2012 08:35:28')

Timestamp('2012-12-19 08:35:28')

In [28]:
pd.Timestamp('19/12/2012 6:13:58 PM')

# It convert the Train timings autometically

Timestamp('2012-12-19 18:13:58')

## The pandas DateTimeIndex Object

In [29]:
dates = ['2019/06/22','2018/08/21','2017/08/20']
pd.DatetimeIndex(dates)

DatetimeIndex(['2019-06-22', '2018-08-21', '2017-08-20'], dtype='datetime64[ns]', freq=None)

In [31]:
dates = [dt.datetime(2012,12,20),dt.datetime(2013,12,21),dt.datetime(2014,12,22)]
dtIndex = pd.DatetimeIndex(dates)

In [32]:
dtIndex

DatetimeIndex(['2012-12-20', '2013-12-21', '2014-12-22'], dtype='datetime64[ns]', freq=None)

In [33]:
values = [1000,2000,3000]
pd.Series(data = values,index= dtIndex)

# here we have assigned the datetime to the index in the Series

2012-12-20    1000
2013-12-21    2000
2014-12-22    3000
dtype: int64

## The pd.to_datetime() Method

Convert argument to datetime.

In [41]:
pd.to_datetime(['20/10/1997','08-01-1996','23.10.1991'])
pd.to_datetime('2022/11/10')
pd.to_datetime(dt.datetime(2016,1,16))
pd.to_datetime(['2012/12/02','2015-12-21','2016','July 4th, 1996'])

/var/folders/w3/lxz1zjzs72b6r55gp06_by880000gn/T/ipykernel_1409/4276125392.py:1: UserWarning: Parsing '20/10/1997' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(['20/10/1997','08-01-1996','23.10.1991'])
/var/folders/w3/lxz1zjzs72b6r55gp06_by880000gn/T/ipykernel_1409/4276125392.py:1: UserWarning: Parsing '23.10.1991' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(['20/10/1997','08-01-1996','23.10.1991'])

DatetimeIndex(['2012-12-02', '2015-12-21', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [45]:
times = pd.Series(['2012/12/02','2015-12-21','2016','July 4th, 1996'])

# its data type is object, because it is having strings inside list
# to convert liost into date time -
# pd.to_datetime()

In [46]:
pd.to_datetime(times)

# converted them to Timestamp

0   2012-12-02
1   2015-12-21
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [47]:
dates = pd.Series(['May 2nd, 1996','10/04/1991','Hello','2015-02-31'])
dates

0    May 2nd, 1996
1       10/04/1991
2            Hello
3       2015-02-31
dtype: object

## Create Range of Date with the pd.date_range() Method

In [55]:
## it generates the automated dates with given ranges of the ranges 

times = pd.date_range(start='2016/01/01', end='2018/01/05',freq='D')

In [56]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [58]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [60]:
times = pd.date_range(start='2016/01/01', end='2018/01/05',freq='D')
## freq = D is day
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30',
               '2017-12-31', '2018-01-01', '2018-01-02', '2018-01-03',
               '2018-01-04', '2018-01-05'],
              dtype='datetime64[ns]', length=736, freq='D')

In [63]:
times = pd.date_range(start='2016/01/01', end='2016/02/15',freq='W')
times
## freq = 'w' --> it will return the one week ranges of dates

DatetimeIndex(['2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31', '2016-02-07', '2016-02-14'],
              dtype='datetime64[ns]', freq='W-SUN')

In [65]:
times = pd.date_range(start='2016/01/01', end='2016/02/15',freq='s')
#s--> seconds 
times

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 00:00:01',
               '2016-01-01 00:00:02', '2016-01-01 00:00:03',
               '2016-01-01 00:00:04', '2016-01-01 00:00:05',
               '2016-01-01 00:00:06', '2016-01-01 00:00:07',
               '2016-01-01 00:00:08', '2016-01-01 00:00:09',
               ...
               '2016-02-14 23:59:51', '2016-02-14 23:59:52',
               '2016-02-14 23:59:53', '2016-02-14 23:59:54',
               '2016-02-14 23:59:55', '2016-02-14 23:59:56',
               '2016-02-14 23:59:57', '2016-02-14 23:59:58',
               '2016-02-14 23:59:59', '2016-02-15 00:00:00'],
              dtype='datetime64[ns]', length=3888001, freq='S')

## part - 2

In [66]:
pd.date_range(start='2012/09/09',periods=25,freq='D')

# period will going to specify how many values we want 

# retrived the 25 days range starting from 2012/09/09

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range(start='2012/09/09',periods=25,freq='B')

## Business days

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [69]:
pd.date_range(start='2012/09/09',periods=25,freq='W-TUE')

# weekdays
# start at tuesday

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18', '2012-12-25',
               '2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22',
               '2013-01-29', '2013-02-05', '2013-02-12', '2013-02-19',
               '2013-02-26'],
              dtype='datetime64[ns]', freq='W-TUE')

## Part -3

In [70]:
  pd.date_range(end='1996/01/08',periods=25,freq='W')
    
    # here it is not starting from, it is strted from end point getting back from end point to start days by one week ranges

DatetimeIndex(['1995-07-23', '1995-07-30', '1995-08-06', '1995-08-13',
               '1995-08-20', '1995-08-27', '1995-09-03', '1995-09-10',
               '1995-09-17', '1995-09-24', '1995-10-01', '1995-10-08',
               '1995-10-15', '1995-10-22', '1995-10-29', '1995-11-05',
               '1995-11-12', '1995-11-19', '1995-11-26', '1995-12-03',
               '1995-12-10', '1995-12-17', '1995-12-24', '1995-12-31',
               '1996-01-07'],
              dtype='datetime64[ns]', freq='W-SUN')

## The .dt Accessor

In [3]:
import pandas as pd
import datetime as dt

In [4]:
dates = pd.date_range(start='2010/01/01',end='2020/12/31',freq='24D')

In [5]:
s = pd.Series(dates)
s.head()

0   2010-01-01
1   2010-01-25
2   2010-02-18
3   2010-03-14
4   2010-04-07
dtype: datetime64[ns]

In [6]:
s.dt.day.head()

# return the day

0     1
1    25
2    18
3    14
4     7
dtype: int64

In [7]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [8]:
mask = s.dt.is_quarter_start
s[mask]

# these are the start of the quaters

0    2010-01-01
38   2012-07-01
dtype: datetime64[ns]

In [9]:
mask1 = s.dt.is_month_start
s[mask1]

0     2010-01-01
5     2010-05-01
38    2012-07-01
71    2014-09-01
90    2015-12-01
104   2016-11-01
109   2017-03-01
dtype: datetime64[ns]